@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'classes';
@import 'bootstrap_override';

// xxl
@media (min-width: 1400px) {
  .hidden-xxl { display: none !important; }
}

// xl
@media (min-width: 1200px) and (max-width: 1399px) {
  .hidden-xl { display: none !important; }
  .author__tab__header__section {
    overflow-x: scroll;
    padding-inline: 2rem;
    white-space: nowrap;
    justify-content: flex-start;
  }
}

// lg
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg { display: none !important; }
  :root {
    --medium-card-height: 280px;
    --artical-type-card-height: 200px;
    --small-card-height: 160px;
    --vertical-ad-height: 150px;
  }
  .medium-cards-container.medium-small-cards-container {
    min-height: calc(var(--medium-card-height) - 0px);
  }
  .read__articals__section {
    padding-bottom: 6vh;
    &::after { height: 100%; }
  }
  .featured__articals__card__container {
    > div:last-child { width: 100%; }
  }
  .author__tab__header__section {
    overflow-x: scroll;
    padding-inline: 2rem;
    white-space: nowrap;
    justify-content: flex-start;
  }
}

// md
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md { display: none !important; }
  :root {
    --medium-card-height: 250px;
    --small-card-height: 160px;
    --vertical-ad-height: 150px;
    --artical-type-card-width: 300px;
    --post-listing-width: 50vw;
  }
  .featured__articals__card__container {
    --medium-card-height: 420px;
  }
  .related__articals__section {padding-bottom: 2vh;}
  
}
// md and xs
@media (min-width: 320px) and (max-width: 991px) {
  :root {
    --artical-type-card-width: 320px;
    --card-padding: 1.5vw;
    --hero-banner-bg: transparent;
    --hero-banner-text-color: var(--bs-white);
    --author-profile-short-card-height: 300px;
    --author-profile-card-padding-block: calc(1.25rem + 3vw);
    --post-listing-width: 75vw;
  }
  .breadcrumb {
    &:not(.breadcrumb-post-details) {
      --bs-breadcrumb-item-active-color: var(--bs-white);
      --bs-breadcrumb-divider-color: var(--bs-gray-400);
      a { color: var(--bs-gray-400); }
    }
  }
  .artical__type__card {
    min-width: var(--artical-type-card-width);
    max-width: var(--artical-type-card-width);
  }
  .read__articals__section {
    padding-bottom: 0;
    &::after { 
      min-width: 100%;
      border-radius: 0;
    }
  }
  .horizontal-scroll, .horizontal__scroll {
    .container { padding: 0; }
    @include horizontalScroll($containerWidth: var(--container-md));
    .col-12, .col-md-6 { width: auto; flex: initial; }
  }

  footer, .footer {
    &-nav {
      &-container {
        .container { padding: 0; }

        .foter-top-menu {
          padding-block: 1rem;
          flex-wrap: wrap;
          gap: 1rem;
          justify-content: center !important;

          .menu {
            white-space: nowrap;
            flex-wrap: nowrap;
            overflow-x: scroll;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            padding-inline: calc(var(--bs-gutter-x) * .5);

            li a { padding: 0.6rem 1rem; }
          }
        }
      }
    }
    .print_n_digital_container {
      --print-n-digital-card-height: 150px;

      .content {
        padding: calc(1.5rem + 2vw);
      }
    }    
  }
  .login__section {
    .login__form__container {
      flex-wrap: wrap;
      > div.left__block { 
        max-width: 100%;
        .login__form__cover {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          border-radius: calc(var(--border-radius) * 3) calc(var(--border-radius) * 3) 0 0;
        }
      }
    }
  }
  .author__registration__info { flex-wrap: wrap; padding: calc(1rem + 2vw);}
  .post__listing__card {
    padding: var(--card-padding);
    background-color: var(--bs-white);
    // &:not(.light) {
    //   .post__listing__card
    // }
  }
  .hero__banner__section {
    margin-bottom: calc(1.5rem + 3vh);
  }
  .author__listing__section {
    padding-top: 0;
    .author__profile__card {
      justify-content: center;
      gap: calc(1rem + 5vw);
    }
  }
  .author__tab__header__section {
    overflow-x: scroll;
    padding-inline: var(--mobile-gutter-x);
    white-space: nowrap;
    justify-content: flex-start;
  }
  .related__articals__section {padding-block: 5vh;}
}

// sm and xs
@media (min-width: 320px) and (max-width: 767px) {
  :root {
    --bs-gutter-x: 7vw;
    --vidoe-thumbnail-height: 220px;
    --viewport-gap: calc(var(--bs-gutter-x));
    --play-icon-size: 35px;
    --vertical-ad-height: 300px;
    --medium-card-height: 400px;
    --slider-height: initial;
    --header-height: 60px;
    --mobile-gutter-x: 5vw;
    --listing-hero-banner-height: 150px;
    --card-padding: 2vw;
  }
  body {
    padding-top: calc(var(--header-height) + 0vw);
  }
  .desktop-header { display: none !important; }
  .mobile-flex-wrap { flex-wrap: wrap !important; }
  .mobile-flex-nowrap { flex-wrap: nowrap !important; }
  .mobile-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ccc;
    height: var(--header-height);
    background-color: var(--bs-primary);
    z-index: 21;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--mobile-gutter-x);
    padding-inline: var(--mobile-gutter-x);
    
    .top-logo {
      padding-top: calc(var(--header-height) / 2.5);
      
      a {display: block;}
      img { 
        max-height: calc(var(--header-height) / .9);
        box-shadow:
          0.5px 0.5px 2.7px rgba(0, 0, 0, 0.025),
          1.2px 1.3px 6.9px rgba(0, 0, 0, 0.035),
          2.5px 2.7px 14.2px rgba(0, 0, 0, 0.045),
          5.1px 5.5px 29.2px rgba(0, 0, 0, 0.055),
          14px 15px 80px rgba(0, 0, 0, 0.08);
      }
    }
    .mobile-header-ctas {
      gap: calc(var(--mobile-gutter-x) + .5rem);
    }
    .mobile__hamburger {
      position: relative;
      width: calc(var(--header-height) / 1.5);
      height: calc(var(--header-height) / 1.5);
      display: flex !important;
      align-items: center;
      justify-content: center;
      font-size: calc(1rem + 2.7vw);
      border: 0;
      outline: 0;
      border-radius: var(--border-radius);
      background-color: transparent;
      color: var(--bs-white);
      &:focus { outline: none; }
      &:hover, &.active {
        background-color: var(--bs-secondary);
      }
      &.active i::before { content: "\f00d"; }
    }
  }
  .mobile-menus-container {
    position: fixed;
    inset: 0;
    overflow-y: scroll;
    background-color: rgba(var(--bs-dark-rgb), .85);
    backdrop-filter: blur(4px);
    padding: var(--mobile-gutter-x);
    z-index: 22;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .close-button {
      position: relative;
      width: calc(var(--header-height) / 1.5);
      height: calc(var(--header-height) / 1.5);
      display: flex !important;
      align-items: center;
      justify-content: center;
      font-size: calc(1rem + 2.7vw);
      border: 0;
      outline: 0;
      border-radius: var(--border-radius);
      background-color: transparent;
      color: var(--bs-white);
      margin-top: -10px;
      margin-bottom: 4vh;
      &:focus { outline: none; }
      &:hover, &.active {
        background-color: var(--bs-secondary);
      }
      &.active i::before { content: "\f00d"; }
    }
    .menu {
      --menu-item-height: 45px;
      position: relative;
      width: 100%;
      color: var(--bs-white);
      > li { min-height: var(--menu-item-height); }
      li, .menu-item {
        position: relative;
        display: flex;
        flex-direction: column;
        transition: var(--transition);
        
        a { 
          color: inherit; 
          padding-block: 0.85rem;
          min-height: var(--menu-item-height);
          text-align: left;
          width: 100%;
          transition: var(--transition);
          text-transform: capitalize;
          &:hover { 
            background-color: var(--bs-secondary);
            padding-inline: 1.25rem;
          }
        }
        &.menu-item-has-children {
          > a {
            width: max-content;
          }
        }
        
        &:not(:last-child) { box-shadow: inset 0 -1px 0 var(--bs-gray-600); }
        .dropdown-icon {
          display: flex;
          position: absolute;
          @include flexCenter();
          width: 45px;
          height: 45px;
          position: absolute;
          top: 0;
          right: 0;
          transition:var(--transition);
          z-index: 1;
          &.active {
            i { transform: rotate(180deg); }
          }
        }
        &.active {
          background-color: var(--bs-primary);
          a {
            padding-block: 0.85rem;
            padding-inline: 1.25rem;
          }
          .sub-menu {
            background-color: #555;
            li {
              overflow: hidden;
              height: var(--menu-item-height);
            }
          }
        }
        .sub-menu {
          width: 100%;
          li {
            overflow: hidden;
            padding-block: 0;
            height: 0;
            a { width: 100%; }
          }
        }
      }
    }
  }

  .urdu h4,
  .urdu .fs-4 {
    font-size: clamp(1.15rem, 2rem + 1vw, 1.8rem) !important;
    line-height: clamp(2.5rem, 3.15rem + 1vw, 2.5rem) !important;
  }
  .container,
  .container-fluid,
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm {
    padding-right: var(--bs-gutter-x);
    padding-left: var(--bs-gutter-x);
  }

  .slider-section {
    padding-top: calc(var(--mobile-gutter-x) * 2);
    .slider-container  {
      .slide.container {
        --bs-gutter-x: var(--mobile-gutter-x);
        max-width: 100vw;
        padding-bottom: calc(1.5rem + 2vh);
        .slide-details {
          background-color: var(--bs-white);
          box-shadow:
            0.5px 0.7px 2.7px rgba(0, 0, 0, 0.012),
            1.2px 1.7px 6.9px rgba(0, 0, 0, 0.018),
            2.5px 3.5px 14.2px rgba(0, 0, 0, 0.022),
            5.1px 7.3px 29.2px rgba(0, 0, 0, 0.028),
            14px 20px 80px rgba(0, 0, 0, 0.04);
            
          .slide-image {
            height: initial;
            img { height: initial; object-fit: initial; max-width: 100vw; }
          }
          .slide-content {
            position: relative;
            height: 100%;
            padding: calc(1.5rem + 1vw) calc(1rem + 1vw);
            background-image: none;
            background-color: var(--bs-white);
            color: var(--bs-dark);
            gap: 1rem;

            .post-short-info {
              &:not(&.arabic, &.urdu) {
                gap: calc(1rem + 2vw);
              }
              .post-heading {
                a { color: inherit; }
              }
            }
          }
        }
        &:not(.slick-active) { opacity: 1; }
      }
      .slick-dots { margin: -.25rem 0; }
    }
  }

  .mobile__scroll {
    flex-direction: row !important;
    align-items: initial !important;
    --medium-card-width: 80vw;
    --containerWidth: 100vw;
    @include horizontalScroll($containerWidth: var(--containerWidth));
    .col-12, .col-md-6 { width: auto; flex: initial; display: flex; }
  }
  .small-cards-container {
    width: 100%;
    justify-content: flex-end;
    flex-wrap: nowrap;
    max-height: inherit;
    min-height: inherit;
    flex-direction: column-reverse;
    --medium-card-width: 250px;
    min-width: var(--medium-card-width);
    box-shadow:
      0.5px 1.4px 2.7px rgba(var(--bs-dark-rgb), 0.012),
      1.2px 3.6px 6.9px rgba(var(--bs-dark-rgb), 0.018),
      2.5px 7.3px 14.2px rgba(var(--bs-dark-rgb), 0.022),
      5.1px 15px 29.2px rgba(var(--bs-dark-rgb), 0.028),
      14px 41px 80px rgba(var(--bs-dark-rgb), 0.04);

    .post-image {
      width: 100%;
      max-width: initial;
      flex-shrink: 0;
    }

    .post-content {
      height: 100%;
      padding: 1rem 1.25rem 1.25rem;
      gap: .5rem;
    }
  }
  .medium-cards-container {
    box-shadow:
      0.5px 1.4px 2.7px rgba(var(--bs-dark-rgb), 0.012),
      1.2px 3.6px 6.9px rgba(var(--bs-dark-rgb), 0.018),
      2.5px 7.3px 14.2px rgba(var(--bs-dark-rgb), 0.022),
      5.1px 15px 29.2px rgba(var(--bs-dark-rgb), 0.028),
      14px 41px 80px rgba(var(--bs-dark-rgb), 0.04);
  }
    
  .urdu h3,
  .urdu .fs-3 {
    font-size: clamp(1.25rem, 2.5rem + 1vw, 2rem) !important;
    line-height: clamp(2.75rem, 2.75rem + 1vw, 2.25rem) !important;
  }
  .video__type__card__container {
    @include scrollbar($width: 0);
  }
  .video__type__card__content {
    i {
      width: calc(var(--play-icon-size) - 15px);
      height: calc(var(--play-icon-size) - 15px);
      top: 1rem;
      left: calc(100% - calc(calc(var(--play-icon-size) - 15px) + 1rem));
    }
  }
  .section-heading {
    flex-wrap: wrap;
    gap: calc(.5rem + 1.5vh);
    margin-bottom: calc(1rem + 2vh);
    .heading-text:not(.borderless)::after { background-color: var(--bs-secondary); }
    &::after { top: initial; bottom: calc(100% + 15px); display: none; }
  }
  .post-section {
    padding-bottom: calc(1rem + 2.5vh);
  }
  .login__section .login__form__block,
  .author__registration__info { padding: calc(1rem + 1vw);}

  .pagination__container { 
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    ul {
      position: relative;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      padding-inline: var(--mobile-gutter-x);
      overflow-x: scroll;
      flex-wrap: nowrap;
      padding-inline: var(--mobile-gutter-x);
      li:first-child { 
        position: sticky; 
        left: calc(0vw - var(--mobile-gutter-x)); 
        z-index: 1; 
      }
    }
  }
  
  .author__profile__banner__section .author__profile__banner__content {
    text-align: center;
    .social__links {
      position: relative;
      justify-content: center;
      margin-top: calc(1rem + 3vh);
    }
  }
  
}

// sm
@media (min-width: 576px) and (max-width: 767px) {
  .hidden-sm { display: none !important; }
  :root {
    --medium-card-height: 250px;
    --small-card-height: 160px;
    --vertical-ad-height: 150px;
    --artical-type-card-width: 300px;
  }
  
  .horizontal-scroll, .horizontal__scroll {
    // .container { padding: 0; }
    @include horizontalScroll($containerWidth: var(--container-sm));
    padding-bottom: calc(2rem + 5vh);
    .col-12, .col-md-6 { width: auto; flex: initial; }
  }
  .artical__type__card {
    min-width: var(--artical-type-card-width);
    max-width: var(--artical-type-card-width);
  }
  .mobile__scroll {
    @include horizontalScroll($containerWidth: var(--container-sm));
  }
  
}

// xs
@media (min-width: 320px) and (max-width: 575px) {
  .hidden-xs { display: none !important; }

  :root {
    --vidoe-thumbnail-height: 200px;
    --play-icon-size: 35px;
  } 
  
  .horizontal-scroll, .horizontal__scroll {
    --containerWidth: 100vw;
    @include horizontalScroll($containerWidth: var(--containerWidth));
    .col-12, .col-md-6 { width: auto; flex: initial; min-width: var(--medium-card-width); }
  }
}

@media (min-width: 320px) and (max-width: 370px) { 
  // :root {
    
  // }
}